body {
  color: #666;
  font-family: "Raleway", "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  background-color: #000;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 450px);
  height: min(100%, 650px);
  box-sizing: border-box;
  padding: 10px;
  background-color: #FFF;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active {
      animation: jello 1s;
    }
  }
}

.ui {
  background-color: red;
  text-align: center;

  .wrap-bottom {
    display: flex;
    align-items: center;

    .next-num {
      width: 40%;
      height: 100px;
      line-height: 90px;
      font-size: 5em;
      font-weight: 600;
      background-color: violet;
    }

    .wrap-right {
      flex: 1;
      background-color: purple;

      .btn-restart {
        width: 100%;
        height: 50px;
        background-color: yellowgreen;
      }

      .sec {
        margin-top: 10px;
        font-size: 2em;
        color: red;
      }
    }
  }
}

.board {
  display: flex;
  flex-wrap: wrap;

  button {
    background-color: gold;
    position: relative;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #FFF;

    &:disabled {
      cursor: none;
      opacity: 0.3;
    }

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
    }
  }
}

.init {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #CCC;

  .btn-start {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    transform: translate(-50%, -50%);
  }
}


.game-over {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.5);

  p {
    color: red;
    font-size: 1.5em;
  }

  .btn-again {
    width: 200px;
    height: 40px;
    background-color: #FFF;
    color: #000;
  }
}